{:name "ui-site"
  ; build
 :lazy-sci true
 :cljs-namespace [ui.site.template
                  ui.site.ipsum
                  ui.site.layout]
 :cljs-ns-bindings {'layout {'header-main ui.site.layout/header-main
                             'header-main-footer ui.site.layout/header-main-footer
                             'sidebar-main ui.site.layout/sidebar-main}
                    'site {'ipsum ui.site.ipsum/ipsum
                           ; menu
                           'header-menu ui.site.template/header-menu
                           'footer ui.site.template/footer
                           ; template                           
                           'foto-bottom ui.site.template/foto-bottom
                           'foto-right ui.site.template/foto-right
                           'foto-left ui.site.template/foto-left
                           'message-button ui.site.template/message-button
                           'people ui.site.template/people
                           'bullet-points ui.site.template/bullet-points
                           'fotos-with-text ui.site.template/fotos-with-text
                           'cols-three ui.site.template/cols-three
                           'splash-message ui.site.template/splash-message}}
 ; theme
 :theme {:available  {}
         :current {}}
;
 }
