{:goldly {; build
          :lazy true ; goldly is lazy, the extension is NOT.
          ; it should not be necessary to define routes, as
          ; we use the extension system here.  
          ; todo: fix this bug in goldly.
          :routes {:app {}
                   :api {}}}
 
 }


