{:goldly {; build
         :lazy true
          ; run-time
         :autoload-cljs-dir ["demo/lib"
                             "demo/page"]
         :routes {:app {"" :demo/main
                        "ipsum" :ipsum
                        "template" :demo/template
           
                         ;devtools
                        "devtools/help" :devtools
                        "devtools/pages" :pages
                        "devtools/scratchpad" :scratchpad
                        "devtools/viewer" :viewer
                        "devtools/environment" :environment
                        "devtools/theme" :theme}
                  :api {"rdocument/ns" :rdocument/ns
                        "rdocument/files" :rdocument/files
                        ["rdocument/file/" :ns "/" :name] :rdocument/file}}}

:devtools {:rdocument  {:storage-root "rdocument/"
                        :url-root "/api/rdocument/file/"}
           :collections {:demo [:clj "demo/notebook/"]}}

 
 
 
 
 
 
 
 
 
 }

